################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TicketHub-API-W0484847/CopilotIndices/17.12.53.23981
